includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - src/Helpers
        - src/Models/Membership.php
    tmpDir: build/phpstan
