includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - src/Helpers
        - src/Models/Membership.php
    ignoreErrors:
        -
            message: '#Using nullsafe property access on non-nullable type Illuminate\\Database\\Eloquent\\Model\. Use -> instead\.#'
            path: src/Models/PageBlockSetting.php
            count: 1
        -
            message: '#^Access to an undefined property Appsolutely\\AIO\\Models\\PageBlockValue\:\:\$display_options\.$#'
            path: src/Console/MigrateBlockValueDisplayOptionToColumnCommand.php
            count: 1
    tmpDir: build/phpstan
