@use "sass:color";

//
// Mixins: Custom Forms
//

// Custom Switch Variant
@mixin custom-switch-variant($name, $color) {
  &.custom-switch-off-#{$name} {
    & .custom-control-input ~ .custom-control-label::before {
      background: #{$color};
      border-color: color.adjust($color, $lightness: -20%, $space: hsl);
    }

    & .custom-control-input:focus ~ .custom-control-label::before {
      box-shadow: 0 0 0 1px $body-bg, 0 0 0 2px rgba($color, .25);
    }

    & .custom-control-input ~ .custom-control-label::after {
      background: color.adjust($color, $lightness: -25%, $space: hsl);
    }
  }

  &.custom-switch-on-#{$name} {
    & .custom-control-input:checked ~ .custom-control-label::before {
      background: #{$color};
      border-color: color.adjust($color, $lightness: -20%, $space: hsl);
    }

    & .custom-control-input:checked:focus ~ .custom-control-label::before {
      box-shadow: 0 0 0 1px $body-bg, 0 0 0 2px rgba($color, .25);
    }

    & .custom-control-input:checked ~ .custom-control-label::after {
      background: color.adjust($color, $lightness: 30%, $space: hsl);
    }
  }
}

// Custom Range Variant
@mixin custom-range-variant($name, $color) {
  &.custom-range-#{$name} {
    &:focus {
      outline: none;

      &::-webkit-slider-thumb {
        box-shadow: 0 0 0 1px $body-bg, 0 0 0 2px rgba($color, .25);
      }

      &::-moz-range-thumb     {
        box-shadow: 0 0 0 1px $body-bg, 0 0 0 2px rgba($color, .25);
      }

      &::-ms-thumb            {
        box-shadow: 0 0 0 1px $body-bg, 0 0 0 2px rgba($color, .25);
      }
    }

    &::-webkit-slider-thumb {
      background-color: $color;

      &:active {
        background-color: color.adjust($color, $lightness: 35%, $space: hsl);
      }
    }

    &::-moz-range-thumb {
      background-color: $color;

      &:active {
        background-color: color.adjust($color, $lightness: 35%, $space: hsl);
      }
    }

    &::-ms-thumb {
      background-color: $color;

      &:active {
        background-color: color.adjust($color, $lightness: 35%, $space: hsl);
      }
    }
  }
}
