@use "sass:color";


@mixin scrollbar($selector) {
  #{$selector}::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  #{$selector}::-webkit-scrollbar-track {
    background-color: #eee;
  }
  #{$selector}::-webkit-scrollbar-thumb {
    background-color: color.adjust(#ddd, $lightness: -7.5%, $space: hsl);
    border-radius: .4rem;
  }
}
